
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <p><img src="/images/DinoDiner-29.png"  alt="DinoDiner" height="400" width="400"></p>
 <br />
 <a asp-page="Menu">Menu</a>
<br />
 <a asp-page="Privacy">Privacy</a>
 <br />
 <a asp-page="About">About</a>
