
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <p><img src="Images\DinoDiner-29.png" /></p>
 <br />
 <a asp-page="Menu">Menu</a>
<br />
 <a asp-page="Privacy">Privacy</a>
 <br />
 <a asp-page="About">About</a>